<html>
<head>
  <script>
      window.scribblemaps = {
        settings:
          {
            "baseAPI": "google",
            "key": "AIzaSyBJgeowk3g32-4-6FFHj6Ds4DLZ6MxR4X8"
          }
      }
  </script>
  <script src="//scribblemaps.com/api/js/"></script>
</head>





<body>
  <ul>
    <li class="active"><a href="/pages/map">Maps</a></li>
    <li ><a href="/pages/compare">Compare</a></li>
    <li><a href="/pages/about">About</a></li>
  </ul>
  <div class='background'><br>
    <div id="home_text">
      <div id="picture"></div>
      <div id="content">
        <h1 id="map_title">2000bc map</h1>
        <div id ="map_selection">
          <h2 id="map_h2">Select a map </h2>
          <select>
           <option value="2000bc">2000 BC</option>
           <option value="500bc">500 BC</option>
         </select>
       </div>
    </div>
  </div><br>
   <div id="ScribbleMap"></div>
 </div>
</body>








<script type="text/javascript">

    var sm;
    window.onload = function () {
        sm = new ScribbleMap("ScribbleMap");

        sm.ui.setAvailableTools(["drag"]);
            sm.map.addListener(scribblemaps.MapEvent.MAP_LOADED, function (event) {
            });

            sm.map.addListener(scribblemaps.MapEvent.MAP_LOAD_ERROR, function (event) {
            });
            var details = {
                "id": "ryan_2000bc",
                "baseAPI": "google",
                "key": "AIzaSyBJgeowk3g32-4-6FFHj6Ds4DLZ6MxR4X8"
            };

            sm.map.load(details, function (data) {
            }, function (errorEvent) { }, false);
    };

    $('select').on('change', function() {
      // alert( this.value );
      var map=String("ryan_"+this.value)
      $("h1").text(this.value+" map");
      sm.ui.setAvailableTools(["drag"]);
          sm.map.addListener(scribblemaps.MapEvent.MAP_LOADED, function (event) {
          });

          sm.map.addListener(scribblemaps.MapEvent.MAP_LOAD_ERROR, function (event) {
          });
          var details = {
              "id": map,
              "baseAPI": "google",
              "key": "AIzaSyBJgeowk3g32-4-6FFHj6Ds4DLZ6MxR4X8"
          };

          sm.map.load(details, function (data) {
          }, function (errorEvent) { }, false);

    })
</script>
</html>
